body {
    margin: 0;
    display: flex;
    font-family: "Lato";
    color: #1d2d2d;
}

/*h1, h2, h3, h4, h5 {
    font-family: "Bree Serif";
    font-weight: normal;
    line-height: 1.2em;
}*/

h1, h2, h3, h4, h5 {
	font-family: "Josefin Sans";
	/* font-weight: normal; */
	/* line-height: 1.2em; */
	/* letter-spacing: 0.06em; */
}

.tooltip {
    position: relative;
}
.tooltip .tooltiptext {
	position: absolute;
	visibility: hidden;
	width: 100px;
	padding: 1px 0;
	border-radius: 3px;
	background-color: #fdfdfd;
	border: 1px solid lightgray;
	font-size: 13px;
	display: inline-block;
	text-align: center;
    color: #535050;
    transition: .2s;
    transition-delay: 0s;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    transition-delay: 0.35s;
}
.tooltiptext-right{
    top: 3px;
    right: -110px;
}
.tooltip .tooltiptext-right::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent white transparent transparent;
  }

.sidebar {
    flex: 0 0 25rem;
    height: 100vh;
    width: 25rem;
    background-color: #fbfbfb;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar .content {
    padding: 1.5em;
    display: block;
}
/* ----- LEAFLET ----- */
.leaflet-container{
    height: 100vh;
    width: calc(100vw - 25rem);
    /* font-family: Roboto; */
    /* font-weight: bold; */
}

.leaflet-interactive.argonne-geojson {
    cursor: grab;
}

/* ----- MARKERS ----- */
.marker-shape{
    fill: #d54363;
    fill-opacity: 1;
    stroke: #ffffff;
    stroke-opacity: 1;
}

.marker-inner{
	opacity: 0.24800002;
	fill: #000000;
}

.custom-marker-icon, .custom-marker-icon  svg,
.custom-marker-small-icon, .custom-marker-small-icon svg {
    transition: 0.25s;
}

.custom-marker-icon  svg {
    transform-origin: bottom ;
}
/* ----- MAIN SIDEBAR (RESULTS) ----- */

#loading-img {
    width: 400px;
}

#main-sidebar{
    z-index: 500;
}

#main-sidebar .card {
	position: relative;
	background-color: white;
	/* border-radius: 5px; */
	border: 1px solid #ccc;
	/* border-bottom: 2px solid #ccc; */
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: box-shadow 0.3s;
	transform: translateZ(0px);
	margin: 10px;
}

#main-sidebar .thumb {
	height: 180px; /* 235px */
	background-color: white;
	transition: height 0.3s;
    overflow: hidden;
    /*background-position: center;
    background-size: cover;*/
}

#main-sidebar .thumb img {
    width: 318px;
    height: 235px;
    object-fit: cover;
    display: block;
    opacity: 1;
    transition: opacity 0.3s, transform 0.3s;
    transform: scale(1);
}

#main-sidebar .body {
    height: 120px; /* 235 + 185 = 420 */
    transition: height 0.3s;
    overflow: hidden;
    padding: 15px 10px;
}

#main-sidebar .body .title {
    margin: 0;
    font-size: 19px;
    border-bottom: 2px solid lightgray;
    padding-bottom: 2px;
    margin-bottom: 3px;
    cursor: pointer;
}

#main-sidebar .body .subtitle {
    margin: 0;
    font-size: 13px;
    color: #323e40;
}

#main-sidebar .body p {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    color: #666C74;
    font-size: 15px;

    transition: opacity 0.2s, transform 0.2s;
    text-align: justify;
}

#main-sidebar .rect {
	position: absolute;
	width: 100%;
	height: 50px;
	background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
	/* overflow: auto; */
	right: 0;
	left: 0;
    /* bottom: 40px; */
    bottom: 0;
}


#main.sidebar .card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#main-sidebar .card:hover .thumb {
    height: 90px;
}

#main-sidebar .card:hover .thumb img {
    opacity: 0.6;
    transform: scale(1.2);
}

#main-sidebar .card:hover .body {
    height: 210px; /* 330 + 90 = 420 */
}

#main-sidebar .card:hover .body p {
	opacity: 1;
	transition-delay: 0.1s;
	transform: translateY(0);
}

.show-more {
	margin: 5px auto;
	width: 23px;
	height: 23px;
	border-left: 9px solid #aea8a8;
	border-bottom: 9px solid #807e7e;
	transform: rotate(-45deg);
	border-radius: 1px;
	cursor: pointer;
}

/* ----- CALENDAR ----- */
#date-filter {
	padding: 1em 1.5em 1em 1.5em;
	display: block;
	background-color: lightgray;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	z-index: 510;
}

#filter-shortcut #calendar-icon {
    margin: .75em auto;
}
/* ----- FILTER SHORTCUTS ----- */

#filter-shortcut {
	flex: 0 0 55px;
	height: 100vh;
	background-color: lightgrey;
	z-index: 600;
	/* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}

#filter-shortcut ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#filter-shortcut li {
    width: 38px;
    height: 38px;
    display: block;
    /* background-color: red; */
    margin: 30px auto;
    border-radius: 3px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    opacity: 0.5;
    cursor: pointer;

    background-size: contain;
}

#filter-shortcut li.checked {
    opacity: 1;
}
#filter-shortcut li img {
    width: 38px;
}

/* ----- POI DETAILS ----- */
.sidebar-movable {
    position: fixed;
    left: calc(-25rem);
    transition: left 0.6s;
    z-index: 510;
}

.sidebar-movable.active {
    left: 55px;
}

.sidebar-movable .closebtn {
	position: absolute;
	top: 3px;
	right: 25px;
	text-decoration: none;
	font-size: 29px;
	color: black;
}

#poi-sidebar .main-illustration{
    position: relative;
    margin-top: 10px;
}

#poi-sidebar .main-illustration img{
    width: 100%;
}

.main-illustration .credits {
	position: absolute;
	bottom: 4px;
	right: 0;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 9px;
	margin: 0;
	padding: 1px 3px;
	color: #2b2b2b;
}

#poi-sidebar .content div:first-of-type {
	margin-top: 10px;
}

.description::before{
    content: "Description";
}
.description p:first-child, .opening-schema p:first-child {
    margin-top: 0;
}

.address span, .contact span, .opening-schema span{
    display: block;
}

.address::before, .contact::before, .description::before, .opening-schema::before{
    font-size: 12px;
    color: grey;
}

.address::before{
    content: "Adresse";
}

.contact::before{
    content: "Contact";
}

.opening-schema::before{
    content: "Dates d'ouverture";
}

.opening-schema td {
    padding: 0;
}

.opening-schema .today {
	font-weight: 700;
	color: #2772a5;
}


.tag {
	/* position: absolute; */
	background: #b6d0e1;
	border: 1px solid #86bde1;
	border-radius: 5px;
	padding: 1px 4px;
	font-size: 12px;
	font-weight: bold;
	color: #2772a5;
	display: inline-block;
	margin-bottom: 2px;
	right: 10px;
	top: 32px;
}

.tag.tag-red {
	background: #d594a2;
	border-color: #a0324b;
	color: #931c36;
}

.tag.tag-brown {
	background: #d79164;
	border-color: #a86334;
	color: #4f2d16;
}

.tag a {
    text-decoration: none;
    color: unset;
}

.poi-name{
    margin-bottom: 0;
}