body {
    margin: 0;
    display: flex;
    font-family: "Lato";
    color: #1d2d2d;
}

/*h1, h2, h3, h4, h5 {
    font-family: "Bree Serif";
    font-weight: normal;
    line-height: 1.2em;
}*/

h1, h2, h3, h4, h5 {
	font-family: "Josefin Sans";
	/* font-weight: normal; */
	/* line-height: 1.2em; */
	/* letter-spacing: 0.06em; */
}

.leaflet-container{
    height: 100vh;
    width: calc(100vw - 25rem);
    /* font-family: Roboto; */
    /* font-weight: bold; */
}

.sidebar {
    height: 100vh;
    width: 25rem;
    background-color: #fbfbfb;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.sidebar .content{
    padding: 1.5em;
    display: block;
}

#main-sidebar{
    z-index: 500;
    /* background-color: bisque; */
}

/* ----- ASIDE ----- */
aside{
    position: fixed;
    left: -25rem;
    transition: left 0.6s;
    z-index: 510;
    /* overflow: hidden; */
}

aside.active {
    left: 0;
}

aside .closebtn {
	position: absolute;
	top: 3px;
	right: 25px;
	text-decoration: none;
	font-size: 29px;
	color: black;
}
.leaflet-marker-icon {
    transition: 0.25s;
}


.address span, .contact span, .opening-schema span{
    display: block;
}

.address::before, .contact::before, .description::before, .opening-schema::before{
    font-size: 12px;
    color: grey;
}

.address::before{
    content: "Adresse";
}

.contact::before{
    content: "Contact";
}

.description::before{
    content: "Description";
}
.opening-schema::before{
    content: "Dates d'ouverture";
}

.description p:first-child {
	margin-top: 0;
}

.tag {
	/* position: absolute; */
	background: #b6d0e1;
	border: 1px solid #86bde1;
	border-radius: 5px;
	padding: 1px 4px;
	font-size: 12px;
	font-weight: bold;
	color: #2772a5;
	display: inline-block;
	margin-bottom: 2px;
	right: 10px;
	top: 32px;
}

.tag a {
    text-decoration: none;
    color: unset;
}

.poi-name{
    margin-bottom: 0;
}

/* ----- GROUPLAYERS SWITCHER ----- */

#layers-control input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
}

#layers-control label{
    display: block;
    position: relative;
    
    height: 3em;
    margin-bottom: 1em;
    border-radius: 3px;
    
    background-color: lightcoral;
    opacity: 0.5;
    font-size: 15px;
    font-family: "Josefin Sans";
    text-align: center;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

#layers-control label[for="default"] {
	background-color: #d54363;
}
#layers-control label[for="natural-site"] {
	background-color: #27ae60;
}
#layers-control label[for="cultural-site"] {
    background-color: #34495e;
    color: white;
}
#layers-control label[for="city"] {
    background-color: black;
    color: white;
}
#layers-control label[for="tour"] {
    background-color: #a05a2c;
    color: white;
}
#layers-control label[for="tourism-info"] {
	background-color: #3498db;
}
#layers-control label[for="food-establishment"] {
	background-color: #ff7979;
}
#layers-control label[for="accommodation"] {
	background-color: #f39c12;
}
#layers-control label[for="event"] {
    background-color: #4834d4;
    color: white;
}

#layers-control label div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#layers-control label.checked {
    opacity: 1;
}