{% load tour_tags %}

{% comment %} <div id='site-description'><h1>Hello world from detail.html</h1></div> {% endcomment %}
<h1 class="poi-name"> {{ poi.name |upper }} </h1>

{% if poi.category.tag != 'default' %}
    <span class="tag poi-category"> {{ poi.category.name }}</span>
{% endif %}

{% if user.is_authenticated %}
    <span class="tag poi-id"><a href={{ poi.dt_id}}> {{ poi.id }}</a></span>
    <span class="tag tag-red"><a href="{% url 'admin:tourism_pointofinterest_change' poi.id%}">admin</a></span>

    <p> {{ poi.dt_categories }} </p>
    {% if poi.mainrepresentation %}
    <div class="main-illustration">
        <img src="{{ poi.mainrepresentation.picture.url }}" alt="{{ poi.mainrepresentation.picture.title }}" draggable="false">
        {% if poi.mainrepresentation.credits %}
        <span class="credits"> {{ poi.mainrepresentation.credits }} </span>
        {% endif %}
    </div>
    {% endif %}
{% endif %}

{% if poi.tour %}
<span class="tag tag-brown"> {{ poi.tour.distance }} km</span>
    {% if poi.tour.time %}
    <span class="tag tag-blue"> {{ poi.tour.time|to_hours }} </span>
    {% endif %}
{% endif %}

<div class="description">
    {{ poi.description|linebreaks }}
</div>

<p class="address"> 
    <span class="address-street"> {{ poi.street_address }} </span>
    <span class="address-city"> {{ poi.commune.name }} </span>
</p>

{% if poi.email or poi.phone or poi.website %}
<p class="contact"> 
    <span class="contact-eamil"> {{ poi.email }} </span>
    <span class="contact-phone"> {{ poi.phone }} </span>
    <span class="contact-website"> {{ poi.website }} </span>
</p>
{% endif %}

{% now "l" as current_year %}
{% if current_opening_schema %}
<div class="opening-schema">
    <p> jusqu'au {{ current_opening_schema.valid_through }} </p>
    
    <table>
    {% for day in current_opening_schema.openinghours_set.all %}
        <tr {% if current_year == day.get_weekday_display|lower %} class="today" {% endif %}>
        {% if day.from_hour %}
            <td> {{ day.get_weekday_display }} </td>
            <td> {{ day.from_hour }} - {{ day.to_hour }} </td>
        {% else %}
            <td> {{ day.get_weekday_display }}</td>
        {% endif %}
        </tr>
    {% endfor %}
    </table>
</div>
{% endif %}
{% if requested_opening_schema %}
<div class="opening-schema">
    <p> du {{ requested_opening_schema.valid_from }} au {{ requested_opening_schema.valid_through }} </p>
    
    <table>
    {% for day in requested_opening_schema.openinghours_set.all %}
        <tr>
        {% if day.from_hour %}
            <td> {{ day.get_weekday_display }} </td>
            <td> {{ day.from_hour }} - {{ day.to_hour }} </td>
        {% else %}
            <td> {{ day.get_weekday_display }}</td>
        {% endif %}
        </tr>
    {% endfor %}
    </table>
</div>
{% endif %}

{% comment %} DEBUG {% endcomment %}
{% if user.is_authenticated %}

{% for schema in poi.openingperiod_set.all %}
    <div class="debug" style="color:lightgrey; margin-top:15px">
        <span> du {{ schema.valid_from }} au {{ schema.valid_through }} </span>
        {% for day in schema.openinghours_set.all %}
            {% if day.from_hour %}
                <span> {{ day.get_weekday_display }} de {{ day.from_hour }} à {{ day.to_hour }}</span>
            {% else %}
                <span> {{ day.get_weekday_display }}</span>
            {% endif %}
        {% endfor %}
    </div>
{% endfor %}

{% endif %}
