{% load l10n %}

{% if error %}
<p class="tag"> {{ error }}</p>
{% else %}

{% comment %} {% if poi_list %} {% endcomment %}
<h1 id="results-title">{{ poi_list.count }} Résultat{{ poi_list.count|pluralize}} </h1>
{% comment %} {% endif %} {% endcomment %}
{% comment %} {% include "tourism/index/_date.html" %}   {% endcomment %}

<div class="debug">
    {% if debug %} <h4> {{ debug }} </h4> {% endif %}
</div>

<div class="results">
    {% comment %} {% include "tourism/index/_best_results.html" %} {% endcomment %}
</div>
<div id="show-more" class="show-more" onclick="loadBestResults(true)"></div>


<script>
{% localize off %}

    var markersLoadedNew = Object(); // key: id -> value: leaflet_id
    var icon;
    // Add all new markers
    {% for poi in poi_list %}
        var poi_id = "{{ poi.id }}";
        if (markersLoaded[poi_id] == null) { // new marker to display
            var lon = "{{ poi.location.x }}";
            var lat = "{{ poi.location.y }}";
            {% if poi.open %}
                icon = getIcon("{{ poi.category.tag }}", "{{ poi.category.light_color }}", "{{ poi.category.dark_color }}");
            {% else %}
                icon = getSmallIcon("{{ poi.category.tag }}", "{{ poi.category.dark_color }}");
            {% endif %}
            var marker = L.marker([lat, lon], {
                icon: icon
            });
            marker.on('click', onMarkerClick);
            marker['data-id'] = poi_id;
            mainLayer.addLayer(marker);
            // markersLayers["{{ poi.category.tag }}"].addLayer(marker);
            markersLoadedNew[poi_id] = marker._leaflet_id;
            
            if ("{{ poi.tour }}") { // TOUR : display path
                var tour_path = '{{ poi.tour.path.json | safe }}';
                var tour_path_geo = L.geoJSON(JSON.parse(tour_path), {
                    style: {
                        color: "#a05a2c",
                        opacity: 0.7,
                    },
                    bubblingMouseEvents: false, // prevent click on map to be triggered
                });
                tour_path_geo.on('click', onTourClick);
                tour_path_geo.addTo(map);

                // Bind path with its marker
                tour_path_geo['data-marker'] = marker;
                marker['data-tour'] = tour_path_geo;
            }
        } else {
            markersLoadedNew[poi_id] = markersLoaded[poi_id]
        }
    {% endfor %}

    // console.log("markersLoaded New", markersLoadedNew);


    // Remove unwanted markers (not in leagletIdToKeep)
    leafletIdToKeep = Object.values(markersLoadedNew);
    // console.log("leafletIdToKeep", leafletIdToKeep);

    mainLayer.eachLayer(function (marker) {
        if (!(leafletIdToKeep.includes(marker._leaflet_id))) {
            mainLayer.removeLayer(marker);
            if (marker['data-tour']) { // If TOUR
                map.removeLayer(marker['data-tour']);
            }
        }
    });

    var i = markersHidden.length;
    while (i--) {
        marker = markersHidden[i];
        if (!(leafletIdToKeep.includes(marker._leaflet_id))) {
            markersHidden.splice(i, 1);
        }
    }

    markersLoaded = markersLoadedNew;
    showMarkersInBounds();
    loadBestResults();

{% endlocalize %}
</script>
{% endif %}