{% load l10n %}
{% load openinghours_tags %}

{% if error %}
<p class="tag"> {{ error }}</p>
{% else %}

{% comment %} {% if poi_list %} {% endcomment %}
<h1> {{ poi_list.count }} Résultat{{ poi_list.count|pluralize}} </h1>
{% comment %} {% endif %} {% endcomment %}
{% comment %} {% include "tourism/index/_date.html" %}   {% endcomment %}

<div class="debug">
    {% comment %} <h4> {{ datee }} </h4> {% endcomment %}
</div>



<div class="results">
{% for poi in poi_list %}
    <article class="card" onmouseover="onResultHover({{poi.id}})" onmouseleave="resetSelectedMarker()" onclick="onResultClick(this, {{poi.id}})">
        <header class="thumb">
        {% if poi.mainrepresentation %}
            {% comment %} <header class="thumb" style="background-image: url('{{ poi.mainrepresentation.picture.url }}')"></header> {% endcomment %}
            <img src="{{ poi.mainrepresentation.picture.url }}" alt="{{ poi.mainrepresentation.picture.title }}" draggable="false">
        {% else %}
            
        {% endif %}
        </header>
        <div class="body">
            <h2 class="title"> {{ poi.name }}</h2>
            <div class="subtitle">
                <span class="city">{{ poi.commune.name }}</span>
                {% comment %} <span>
                    {% if poi.open %} Ouvert {% else %} Fermé {% endif %}
                    {{ poi.open }}
                </span> {% endcomment %}
            </div>
            <p>{{ poi.description }}</p>
            <div class="rect"></div>
            <div class="rect_white"></div>
        </div>
    </article>
{% endfor %}
</div>

<script>
{% localize off %}
    var markersLoadedNew = Object(); // key: id -> value: leaflet_id
    var icon;
    // Add all new markers
    {% for poi in poi_list %}
        var poi_id = "{{ poi.id }}";
        if (markersLoaded[poi_id] == null) { // new marker to display
            var lon = "{{ poi.location.x }}";
            var lat = "{{ poi.location.y }}";
            {% if poi.open %}
                icon = getIcon("{{ poi.category.tag }}", "{{ poi.category.light_color }}", "{{ poi.category.dark_color }}");
            {% else %}
                icon = getSmallIcon("{{ poi.category.tag }}", "{{ poi.category.dark_color }}");
            {% endif %}
            var marker = L.marker([lat, lon], {
                icon: icon
            });
            marker.on('click', onMarkerClick);
            marker['data-id'] = poi_id;
            mainLayer.addLayer(marker);
            // markersLayers["{{ poi.category.tag }}"].addLayer(marker);
            markersLoadedNew[poi_id] = marker._leaflet_id;
            
            if ("{{ poi.tour }}") { // TOUR : display path
                var tour_path = '{{ poi.tour.path.json | safe }}';
                var tour_path_geo = L.geoJSON(JSON.parse(tour_path), {
                    style: {
                        color: "#a05a2c",
                        opacity: 0.7,
                    },
                    bubblingMouseEvents: false, // prevent click on map to be triggered
                });
                tour_path_geo.on('click', onTourClick);
                tour_path_geo.addTo(map);

                // Bind path with its marker
                tour_path_geo['data-marker'] = marker;
                marker['data-tour'] = tour_path_geo;
            }
        } else {
            markersLoadedNew[poi_id] = markersLoaded[poi_id]
        }
    {% endfor %}

    // console.log("markersLoaded New", markersLoadedNew);


    // Remove unwanted markers (not in leagletIdToKeep)
    leafletIdToKeep = Object.values(markersLoadedNew);
    // console.log("leafletIdToKeep", leafletIdToKeep);

    mainLayer.eachLayer(function (marker) {
        if (!(leafletIdToKeep.includes(marker._leaflet_id))) {
            mainLayer.removeLayer(marker);
            if (marker['data-tour']) { // If TOUR
                map.removeLayer(marker['data-tour']);
            }
        }
    });

    /*Object.values(markersLayers).forEach((layerGroup) => {
        layerGroup.eachLayer(function (layer) {
            if (!(leafletIdToKeep.includes(layer._leaflet_id))) {
                layerGroup.removeLayer(layer);
            }
        });
    });*/
    markersLoaded = markersLoadedNew;

{% endlocalize %}
</script>
{% endif %}