{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}
{% block object-tools-items %}
    <li>
        <a href="{% url opts|admin_urlname:'history' original.pk|admin_urlquote %}" class="historylink">{% trans "History" %}</a>
    </li>
    <!-- Custom elmt -->
    <li>
        <a href="{% url 'admin:tourism_tour_update_from_gpx' original.pk %}" class="historylink">Importer un fichier GPX</a>
    </li>
    <!-- (END) Custom elmt -->
    {% if has_absolute_url %}
        <li>
            <a href="{% url 'admin:view_on_site' content_type_id original.pk %}" class="viewsitelink">{% trans "View on site" %}</a>
        </li>
    {% endif %}
{% endblock %}