{% extends "tourism/base.html" %}

{% load l10n %}
{% load static %}
{% load leaflet_tags %}


{% block title %}Carte intéractive{% endblock title %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'tourism/style.css' %}">
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock style %}

{% block content %}
<div id="main-sidebar" class="sidebar">
    <div class="content">
        <h1>Destination Argonne</h1>
        <div id="layers-control"></div>
    </div>
</div>
<aside class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <div class="content">
    {% comment %} {% include "tourism/sub/detail.html" %} {% endcomment %}
    </div>
</aside>


{% leaflet_map "maCarte" callback="map_init" %}
{% endblock content %}


{% block javascript %}
<script type="text/javascript">
    {% localize off %}
    // Layers
    var map; // leaflet Map
    var markersLayers = Object(); // store each layers: {tag : leaflet LayerGroup}
    var markersLoaded = Object(); // store each loaded markers: {poi_id : _leaflet_id}
    var selectedMarker = Object(); 
    var controlLayers; // leaflet Control.layers
    
    // Define the default marker
    var icons = Array();
    var iconProps = {
        iconUrl: "{% static 'tourism/marker-default.png' %}",
        iconSize: [24, 28],
        iconAnchor: [12, 28],
        popupAnchor: [0, -28],
        tooltipAnchor: [0, -14],
        shadowUrl: "{% static 'tourism/marker-shadow.png' %}",
        shadowSize: [16, 30],
        shadowAnchor: [8, 26]}

    icons["default"] = L.icon(iconProps);

    function closeNav() {
        $("aside").removeClass("active");
    }

    function getIcon(tag) {
        if (icons[tag] == null) {
            var base_url = "{% static 'tourism/marker-' %}";
            iconProps["iconUrl"] = base_url + tag + '.png';
            icons[tag] = L.icon(iconProps);
        }
        return icons[tag]
    }

    function loadMarkers() {
        // markersLayer.clearLayers();
        var bounds = map.getBounds();
        $.ajax({
            type: 'GET',
            url: "{% url 'tourism:poi_load' %}",
            data: {"bounds": JSON.stringify(bounds)},
            success: function (response) {
                // map.setView(position);
                // response;
                $("body").append(response);
            },
            error: function(response) {
                console.log("Échec de la requête AJAX (loadMarkers)");
                console.log(response);
            }
        })
    }

    function changeLayersState(input) {
        if (input.checked) {
            map.addLayer(markersLayers[input.id]);
            input.parentNode.parentNode.classList.add("checked");
        } else {
            input.parentNode.parentNode.classList.remove("checked");
            map.removeLayer(markersLayers[input.id]);
        }
    }

    function createLayersByCategory() {
        layerSwitcher = $("#layers-control");

        {% for cat in category_list %}
            // Create new LayerGroup
            markersLayers["{{ cat.tag }}"] = new L.LayerGroup();
            
            // Create inputs to remove/add layerGroups (cf. changeLayersState)
            label = $("<label>", {for: "{{ cat.tag }}"});
            labelDiv = $("<div>").appendTo(label);
            $("<input>", {
                type:"checkbox",
                id: "{{ cat.tag }}",
                name:"category-layer",
                checked: "{{ cat.tag }}" == "event",
                onchange:"changeLayersState(this)"}).appendTo(labelDiv);
            $("<span>").html("{{ cat.name }}").appendTo(labelDiv);
            label.appendTo(layerSwitcher)

        {% endfor %}

        // Init: display default layers
        inputs = $("#layers-control input");
        for (i = 0; i < inputs.length; i++) {
            changeLayersState(inputs[i]);
        }
    }


    function onMarkerClick(e) {
        // 1. Emphasize the corresponding icon
        
        if (Object.entries(selectedMarker).length) {
            // Reset the previously selected icon
            selectedMarker["icon"].style.width = "24px";
            selectedMarker["icon"].style.height = "28px";
            selectedMarker["icon"].style.marginLeft = "-12px";
            selectedMarker["icon"].style.marginTop = "-28px";
            selectedMarker["icon"].style.zIndex = selectedMarker["z-index"];
        }

        var my_icon = $(this)[0]._icon;
        my_icon.style.width = "30px";
        my_icon.style.height = "35px";
        my_icon.style.marginLeft = '-15px'
        my_icon.style.marginTop = '-35px'
        selectedMarker["z-index"] = my_icon.style.zIndex;
        my_icon.style.zIndex = 5000;
        selectedMarker["icon"] = my_icon;

        // 2. Get details from the selected POI        
        var poi_id = $(this).attr('data-id');
        $.ajax({
            type: 'GET',
            url: "{% url 'tourism:poi_detail' %}",
            data: {"poi_id": poi_id},
            success: function (response) {
                // map.setView(position);
                $("aside .content").html(response);
                $("aside").addClass("active");
            },
            error: function(response) {
                console.log("Échec de la requête AJAX (GET POI details)");
                console.log(response);
            }
        })
    }


    function map_init(mmap, options) {
        map = mmap; // store the object in a variable
        controlLayers = map.layerscontrol;

        // Display initial markers
        createLayersByCategory();
        loadMarkers();
			
		/*map.on('drag', function(e) {
            markersLayer.clearLayers();
		});*/

        /*$(window).on('resize', function() {
            console.log("resize");
            loadMarkers();
        });*/
			
		map.on('dragend', function(e) {
		    // markersLayer.clearLayers();
		    loadMarkers();
		});

        map.on('zoomend', function() {
            loadMarkers();
        });

        map.on('click', function() {
            closeNav();
        });

        // Display Argonne's contour
        $.getJSON("{% static 'tourism/argonne.geojson' %}", function(json) {
            // console.log(L.GeoJSON.coordsToLatLngs(json.coordinates, 1));
            argonneBoundary = L.geoJSON(json, {
                style: {
                    color: "#95a98c",
                    weight: 1.3,
                    fillOpacity: 0,
                }                
            }).addTo(map);
            argonneBoundary.bringToBack();
        });
    }

    {% endlocalize %}
</script>
<script src="{% static 'tourism/front.js' %}"></script>
{% endblock javascript %}